* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  color: #fff8f3;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.tex-center {
  text-align: center;
}

/* main style */

header {
  background-color: #fff8f3;
  background: url(./images/developer.png), url(./images/header_bg.png), #fff8f3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
#banner {
  /* border: 1px solid red; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ;
}
#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-image img {
  width: 600px;
  max-width: 585px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}
#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 157px;
}
#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
}
#skill {
  padding-top: 130px;
}
#skill .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#skill .skill-container .skill-box {
  display: flex;
  gap: 24px;
}
.skill-box .skill-card {
  padding: 30px;

  /* border: 1px solid red; */
  box-shadow: 0 6px 50px 0 #00000020;
  max-width: 267px;
}
.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 16px;

  color: #757575;
  line-height: 28px;
}
#resume {
  padding-top: 130px;
}
#resume .resume-content {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
.resume-content hr {
  margin: 30px 0;
}
.resume-content .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}
.resume-card {
  max-width: 511px;
  margin-right: 47px;
}
.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}
.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}
footer .fotter-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.fotter-container h2 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}
.fotter-container .social {
  max-width: 562px;
}
.fotter-container .social p {
  color: #474747;
  list-style: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}
.fotter-container .icon a {
  margin-right: 24px;
}
.fotter-container .form {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
.fotter-container .text-m {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
